html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.flex {
  display: flex;
}
.navbar {
  background:rgb(238, 236, 236);
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}
.navbar_logo, .navbar_items {
  font-size: 26px;
  font-weight: 700;
  color:blueviolet
}
.product_wrap {
  display: flex;
  justify-content: space-between;
}
.card_image {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.detail_item {
  display: flex;
}
.card_image_detail {
  /* width: 250px; */
   height: 550px;
  width: 100%;
  object-fit: cover;
}
.detail_item_text {
  margin-left: 30px;
}
.detail_item {
  margin-top: 30px;
}
.detail_item_text_num {
  border:1px solid #ccc;
  padding: 20px;
  margin-top: 30px;
}
.green_text {
  color: rgb(5, 198, 37);
}
.red_text {
  color: red;
}
.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dark_bg {
  background: #000;
}
.dark_bg .MuiTypography-span {
  color: aliceblue;
}
.dark_bg .footer {
  color: aliceblue;
}